@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Lego_Project_Core.Models;
@using Umbraco.Web.Models

@{


    var param = Model.MacroParameters["legoSpots"].ToString();
    var ids = param.Split(',');
    List<LegoSet> Sets = new List<LegoSet>();
    foreach (var id in ids)
    {
        var item = Umbraco.TypedContent(Int32.Parse(id));

        Sets.Add(item.OfType<LegoSet>());
    }

    var myParams = Model.GetParameterValue<List<LegoSet>>("legoSpots");
}

<div class="news-spots">
    <div class="news-spot-list ">
        <div class="row">
            <div class="col-1" style="margin-right: 10px;"></div>
            @foreach (var set in Sets)
            {
                <div class="col-3 review-list-item ">
                    <div class="card">
                        <img class="card-img-top" src="@set.Image.Url" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@set.SetTitle</h5>
                            <p class="card-text">@set.SetCode</p>
                            <a href="@set.Url" class="btn btn-primary">View Set</a>
                        </div>
                    </div>
                </div>

            }
            <div class="col-1"></div>
        </div>
    </div>
</div>