@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Lego_Project_Core.Models;
@using Umbraco.Web.Models

@{


    var param = Model.MacroParameters["legoSpots"].ToString();
    var ids = param.Split(',');
    List<LegoSet> Sets = new List<LegoSet>();
    foreach (var id in ids)
    {
        var item = Umbraco.TypedContent(Int32.Parse(id));

        Sets.Add(item.OfType<LegoSet>());
    }

    var myParams = Model.GetParameterValue<List<LegoSet>>("legoSpots");
}

<div class="news-spots">
    <div class="news-spot-list ">
        <div class="row">
            <div class="col-1" style="margin-right: 10px;"></div>
            @foreach (var set in Sets)
            {
                <div class="news-spot-article col-3">
                    <img class="thumbnail" src="@set.Image.Url"/>
                    <p>@set.SetTitle</p>
                    <p>@set.SetCode</p>
                    <a href="@set.Url" class="btn btn-info" style="margin-bottom:2px">Read More</a>
                </div>

            }
            <div class="col-1"></div>
        </div>
    </div>
</div>