@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Lego_Project_Core.Models;
@using Umbraco.Web.Models

@{


    var param = Model.MacroParameters["newsSpots"].ToString();
    var ids = param.Split(',');
    List<NewsArticle> Articles = new List<NewsArticle>();
    foreach (var id in ids)
    {
        var item = Umbraco.TypedContent(Int32.Parse(id));

        Articles.Add(item.OfType<NewsArticle>());
    }

    var myParams = Model.GetParameterValue<List<NewsArticle>>("newsSpots");
}

<div class="news-spots">
    <div class="news-spot-list ">
        <div class="row">
            <div class="col-1" style="margin-right: 10px;"></div>
            @foreach (var newsArticle in Articles)
            {

                <div class="col-3 review-list-item ">
                    <div class="card">
                        <img class="card-img-top" src="@newsArticle.ArticleImage.Url" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@newsArticle.Headline</h5>
                            <p class="card-text">@newsArticle.Teaser</p>
                            <a href="@newsArticle.Url" class="btn btn-primary">Read Article</a>
                        </div>
                    </div>
                </div>

            }
            <div class="col-1"></div>
        </div>
    </div>
</div>