body {
}

.news-list {

}

.news-list ul{
    list-style: none;
}

.news-list li {
    border-bottom: solid black 1px;
    margin-bottom: 10px;
}

.news-thumbnail {
    height: 200px;
}

.news-spot-list {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;

}

.news-spot-article{

    height: auto;
    background-size: cover;
    margin-right: 50px;
    border: solid 1px black
}

.news-spot-article p, a{
    font-size: large;
}

.news-spot-article img {
    width: 100%;
}

.lego-sets-page {
    margin-top: 10px;
}

.lego-set-list {

}

.set-item {
    border: solid 1px black;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 20px;

}

.navbar {
    margin-bottom: 10px;
}

.set-item img {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: solid 1px black;
          
}

.set-hero-banner {
    height: 300px;
    background-size: cover;
    margin-bottom: 10px; 

}

.set-gallery .thumbnail {
    height: 200px;
    background-size: cover;
    padding-right: 2px;
}

.footer {
    height: 230px;
    background-color: #212529;

    margin-top: 10px;
}

.set-gallery .row {
    border: solid black 1px;
    padding: 5px;
}

.review-rating ul {
    padding: 0;
}

.review-rating ul li {
    display:inline-block
}

.review-list {
    border-top: solid black 1px;
    padding-top: 10px;

}

.review-list-item {
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.review-thumbnail {
    height: 150px;
    width: 100%;
    background-size: cover;
          
}

.hero-banner {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);

    height: 400px;
    background-size: cover;
    margin-bottom: 10px; 
}

.set-item-details {

}

.news-spot-article a{

}
