<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsArticle ANY>
<!ATTLIST newsArticle id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="8a2f2440-be04-4b84-8232-e066205a394d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-25T11:45:55" updateDate="2018-09-25T11:45:55" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Primary Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>HOME PAGE</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "label": "Primary Content",
          "hasConfig": false,
          "id": "51b6aac1-c3d1-9091-1651-a09f613498e4",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></contentGrid>
    <headline><![CDATA[Home]]></headline>
    <news id="1062" key="d0683f62-d021-4802-8894-64e9535a8e2d" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2018-09-25T14:38:20" updateDate="2018-09-25T14:38:20" nodeName="News" urlName="news" path="-1,1056,1062" isDoc="" nodeType="1059" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1058" nodeTypeAlias="news" isPublished="true" />
  </home>
</root>