<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT reviews ANY>
<!ATTLIST reviews id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsArticle ANY>
<!ATTLIST newsArticle id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="8a2f2440-be04-4b84-8232-e066205a394d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-25T11:45:55" updateDate="2018-10-04T10:31:38" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Primary Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>HOME PAGE</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": {
                    "macroAlias": "NewsSpotMacro",
                    "macroParamsDictionary": {
                      "newsSpots": "1063,1064,1065"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "label": "Primary Content",
          "hasConfig": false,
          "id": "51b6aac1-c3d1-9091-1651-a09f613498e4",
          "active": false
        }
      ]
    }
  ]
}]]></contentGrid>
    <headline><![CDATA[Home]]></headline>
    <markdown><![CDATA[BLANK]]></markdown>
    <news id="1062" key="d0683f62-d021-4802-8894-64e9535a8e2d" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2018-09-25T14:38:20" updateDate="2018-09-25T14:38:20" nodeName="News" urlName="news" path="-1,1056,1062" isDoc="" nodeType="1059" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1058" nodeTypeAlias="news" isPublished="true">
      <newsArticle id="1063" key="5d9ec598-d44f-40ea-99d7-e8934b9c054d" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2018-09-26T11:20:47" updateDate="2018-10-04T10:37:45" nodeName="News 1" urlName="news-1" path="-1,1056,1062,1063" isDoc="" nodeType="1061" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1060" nodeTypeAlias="newsArticle" isPublished="true">
        <articleContent><![CDATA[<p><strong>Lorem Ipsum</strong><span> er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</span></p>]]></articleContent>
        <tags><![CDATA[[]]]></tags>
        <articleImage><![CDATA[umb://media/f880f69e0d804e77b46e11350d987e55]]></articleImage>
        <headline><![CDATA[News 1]]></headline>
        <teaser><![CDATA[Teaser 1]]></teaser>
      </newsArticle>
      <newsArticle id="1064" key="2db33646-22a6-4879-aa13-26d1157baf82" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2018-09-26T11:22:36" updateDate="2018-10-04T10:37:42" nodeName="News 2" urlName="news-2" path="-1,1056,1062,1064" isDoc="" nodeType="1061" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1060" nodeTypeAlias="newsArticle" isPublished="true">
        <articleContent><![CDATA[<p><strong>Lorem Ipsum</strong><span> er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</span></p>]]></articleContent>
        <tags><![CDATA[[]]]></tags>
        <articleImage><![CDATA[umb://media/f880f69e0d804e77b46e11350d987e55]]></articleImage>
        <headline><![CDATA[News 2]]></headline>
        <teaser><![CDATA[Teaser 2]]></teaser>
      </newsArticle>
      <newsArticle id="1065" key="9acbdabd-3709-4e7b-8ce3-2d98da49c5e7" parentID="1062" level="3" creatorID="0" sortOrder="2" createDate="2018-09-26T11:22:50" updateDate="2018-10-04T10:37:39" nodeName="News 3" urlName="news-3" path="-1,1056,1062,1065" isDoc="" nodeType="1061" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1060" nodeTypeAlias="newsArticle" isPublished="true">
        <articleContent><![CDATA[<p><strong>Lorem Ipsum</strong><span> er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</span></p>]]></articleContent>
        <tags><![CDATA[[]]]></tags>
        <articleImage><![CDATA[umb://media/f880f69e0d804e77b46e11350d987e55]]></articleImage>
        <headline><![CDATA[News 3]]></headline>
        <teaser><![CDATA[Teaser 3]]></teaser>
      </newsArticle>
    </news>
    <reviews id="1073" key="15632c90-30a1-487a-94a0-eeef225c3841" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2018-09-28T10:58:56" updateDate="2018-09-28T10:58:56" nodeName="Reviews" urlName="reviews" path="-1,1056,1073" isDoc="" nodeType="1068" creatorName="Nicolaj Villadsen" writerName="Nicolaj Villadsen" writerID="0" template="1067" nodeTypeAlias="reviews" isPublished="true" />
  </home>
</root>